.so-hoa {
    background: #d40000 !important;
}
.giao-duc {
    background: #2300d4 !important;
}
.the-thao {
    background: #d400ad !important;
}
.du-lich {
    background: #27d400 !important;
}
.khoa-hoc {
    background: #d400b8 !important;
}
.kinh-doanh {
    background: #00b8d4 !important;
}
.suc-khoe {
    background: #bfd400 !important;
}
